@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add custom CSS styles here */
        body {
            background-color: #F5F5F5; /* Light Gray Background Color */
        }

        h4 {
            color: #FF5733; /* Light Red Text Color */
        }

      
    </style>
    <title>AITC, PVAMU Inventory Database</title>
</head>
<body>

    <div class="wrapper">

        

            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <img src="/images/university.png" alt="Description of the image" class="university-image">
                    <h4 class="display-4 font-weight-bold">Welcome to AITC <br>Inventory Database </h4> <br> <br>
                    <p class="lead"><i>Manage and update the Inventory database.</i></p> <br>
                    <p>Learn more about our organization and our services:</p>

                    <ul class="list-unstyled">
                        <li><a href="https://aitc.pvamu.edu/index.html" class="btn btn-primary">About Us</a></li>
                    </ul>
                </div>

            </div>
        </div>


</body>
</html>
